.page-item {
    background-color: #ede6c9;
    color: #000;
    border: #ccc;
    margin-left: 2px;
    width: 32px;
    cursor: pointer;
    height: 32px;
}

.pagination-container {
    margin-top:2px;
}

.current-page {
    background-color: #bebe8c;
}