.table-data-cell {
  color: black;
  height: 70px;
}

.background-color-table {
  background-color: #ede6c9;
}

.border-cell-item {
  border-top: 1px solid #bbb;
}

.border-cell-item-right {
  border-right: 1px solid #bbb;
}
