<div class="column-layout-start-start full-width background-color-table">
  <div *ngFor="let item of data" class="full-width">
    <div class="row-layout-start-start full-width border-cell-item">
      <div
        *ngFor="let col of column; let i = index"
        class="full-width"
        [ngStyle]="{ width: col.width ?? '100%' }"
        [ngClass]="{ 'border-cell-item-right': i !== column.length - 1 }"
      >
        <div
          *ngIf="!col.render"
          class="table-data-cell full-width row-layout-center-center"
        >
          {{ item[col.field] }}
        </div>
        <div
          *ngIf="col.render"
          class="table-data-cell full-width row-layout-center-center"
          [innerHTML]="col.render(item[col.field])"
        ></div>
      </div>
    </div>
  </div>
</div>
