<div class="column-layout-start-center full-width background-theme">
    <div class="navbar-container full-width row-layout-end-center">
        <div class="nav-menu-items" (click) = "navigate('')"> Home</div> 
        <div class="nav-menu-items"  (click) = "navigate('units')">Units</div> 
    </div>
    <h1 class="page-header">Welcome to Age of Empires Unit List</h1>
    <div class="row-layout-center-center full-width background-aoe">
        <img src="../../../assets/img/aoe2-logo.webp" width="40%"/>
    </div>
</div>