.page-style {
  height: 100vh;
  width: 100vw;
}

.page-header {
  color: #ab9354;
  font-family: cursive;
  font-size: 42px;
}

.background-aoe {
  background-image: url("../../../assets/img/aoe2-wallpaper.webp");
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
