<div class="column-layout-start-center units-page full-width">
    <div class="row-layout-start-start" style="width: 85%;">
        <div class="filter-container">
            <h1 class="filter-header">Ages</h1>
            <div class="row-layout-start-start filter-item-container">
              <div
                [ngClass]="{ 'current-filter': currentFilter === 'all' }"
                (click)="selectFilter('all')"
                class="ages-filter-item"
              >
                All
              </div>
              <div
                [ngClass]="{ 'current-filter': currentFilter === 'dark' }"
                (click)="selectFilter('dark')"
                class="ages-filter-item"
              >
                Dark
              </div>
              <div
                [ngClass]="{ 'current-filter': currentFilter === 'feudal' }"
                (click)="selectFilter('feudal')"
                class="ages-filter-item"
              >
                Feudal
              </div>
              <div
                [ngClass]="{ 'current-filter': currentFilter === 'castle' }"
                (click)="selectFilter('castle')"
                class="ages-filter-item"
              >
                Castle
              </div>
              <div
                [ngClass]="{ 'current-filter': currentFilter === 'imperial' }"
                (click)="selectFilter('imperial')"
                class="ages-filter-item"
              >
                Imperial
              </div>
            </div>
          </div>
        
          <div class="filter-container"  style="margin-left: 50px;">
            <h1 class="filter-header">Costs</h1>
            <app-range-slider style="width: 450px" [min] = "woodFilter.min" [max] = "woodFilter.max" [name] = "'Wood'" [checked] ="woodFilter.checked" (sendFilter) = "getWoodFilter($event)"></app-range-slider>
            <app-range-slider style="width: 450px" [min] = "foodFilter.min" [max] = "foodFilter.max" [name] = "'Food'" [checked] ="foodFilter.checked" (sendFilter) = "getFoodFilter($event)"></app-range-slider>
            <app-range-slider style="width: 450px" [min] = "goldFilter.min" [max] = "goldFilter.max" [name] = "'Gold'" [checked] ="goldFilter.checked" (sendFilter) = "getGoldFilter($event)"></app-range-slider>
          </div>
    </div>
  

  <app-table
    [data]="$tableData | async"
    [column]="columns"
    style="width: 85%; margin-bottom: 30px"
    [pagination]="paginationParam"
  ></app-table>
</div>
