.units-page {
  margin-top: 100px;
  width: 100vw;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 85%;
    margin-bottom: 30px;
}

.filter-header {
    color: #ab9354;
    font-family: cursive;
    font-size: 25px;
}

.ages-filter-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 48px;
    background-color: #e1dbbf;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid #ccc;
    cursor: pointer;
}

.filter-item-container {
    margin-top: -10px;
    border: 1px solid #ccc;
}

.current-filter {
    background-color: #bebe8c;
}



.slider {
    -webkit-appearance: none;
    width: 400px;
    height: 20px;
    background: #f6f6f6;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ab9354;
    transform: rotate(45deg);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }