.row-layout-start-start {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.row-layout-start-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.row-layout-center-start {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}
.row-layout-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row-layout-end-start {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
}

.row-layout-end-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.full-width {
  width: 100%;
}

.column-layout-start-start {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.column-layout-start-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.column-layout-center-start {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.column-layout-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
