<div class="column-layout-start-start full-width">
  <div class="table-border column-layout-start-start full-width">
    <app-header-table class="full-width" [column]="column"  [data]="$tableData | async"></app-header-table>
    <app-body-table
      class="full-width"
      [data]="$tableData | async"
      [column]="column"
    ></app-body-table>
  </div>
  <div class="row-layout-end-center full-width">
    <app-page-table [pagination]="$paginationData | async"  [data]="$tableData | async"></app-page-table>
  </div>
</div>
