.table-data-cell {
  color: black;
  height: 70px;
  border-right: 1px solid #bbb;
}

.background-color-table {
  background-color: #ede6c9;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

.border-cell-item {
  border-bottom: 1px solid #bbb;
}
